:root { --slider-primary-color: #000; --slider-secondary-color: #29292b; --slider-track-bg: #f2f2f2; --slider-thumb-bg: #434343; --slider-border-radius: 12px; --nav-btn-size: clamp(30px, 3vw, 40px); --nav-btn-border-color: #000; --nav-gap: 20px; --slider-track-height: 5px; --animation-duration: 0.5s; --animation-ease: ease-in-out; }
/*-----------------------------
    Slider Main Styles fff
  -------------------------------*/
.horizon-slider_container { position: relative; overflow: hidden; }
.horizon-slider_track { display: flex; transition: transform var(--animation-duration) var(--animation-ease); will-change: transform; }
.horizon-slide, .test { flex-shrink: 0; background-color: #e3f2fd; /* Light blue */ display: flex; align-items: center; justify-content: center; box-sizing: border-box; border-radius: var(--slider-border-radius); }
/*-----------------------------
    Navigation Area
  -------------------------------*/
.slider_navigation-area { display: flex; align-items: center; justify-content: space-between; box-sizing: border-box; gap: var(--nav-gap); flex-wrap: wrap; }
.nav-buttons { display: flex; gap: var(--nav-gap); flex-shrink: 0; }
.prev-btn,
.next-btn { height: var(--nav-btn-size); width: var(--nav-btn-size); cursor: pointer; border-radius: 50%; border: 1px solid var(--nav-btn-border-color); background-color: transparent; padding: 0; display: flex; justify-content: center; align-items: center; transition: background-color 0.2s ease, border-color 0.2s ease; }
.prev-btn:hover,
.next-btn:hover { background-color: var(--slider-primary-color); }
.prev-btn svg,
.next-btn svg { display: block; width: 100%; height: 100%; padding: 25%; box-sizing: border-box; }
.prev-btn:hover svg path,
.next-btn:hover svg path { fill: #fff; }
[disabled="true"] { opacity: 0.3; pointer-events: none; scale: 0.8; }
/*-----------------------------
    Tracker
  -------------------------------*/
.tracker-container { position: relative; height: var(--slider-track-height); background: var(--slider-track-bg); overflow: hidden; max-width: 1200px; flex-grow: 1; border-radius: calc(var(--slider-track-height) / 2); }
.tracker-thumb { height: 100%; background: var(--slider-thumb-bg); position: absolute; top: 0; left: 0; cursor: grab; transition: transform var(--animation-duration) var(--animation-ease); will-change: transform; border-radius: calc(var(--slider-track-height) / 2); }
.tracker-thumb:active { cursor: grabbing; }
